@use "./base/styles" as *;
@use "./utils/breakpoints" as *;

@use "./components/sidebar";
@use "./components/buttons";
@use "./components/card";
@use "./components/switch";
@use "./layout/header";
@use "./layout/container";
@use "./layout/footer";
@use "./layout/sections";
@use "./components/form";

.App {
  position: absolute;
  display: flex;
  justify-content: flex-start;

  width: calc(65vw - 1rem - 6.9vw);

  // width: calc(940px - 1rem - 100px);
  // min-width: 600px;
  min-width: calc(940px - 1rem - 100px);

  height: calc(600px - 1rem * 2);
  margin: auto auto;
  padding: 1rem;
  padding-right: 6.9vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $bg-primary;

  border-radius: 15px;
  gap: 90px;
  gap: 6.9vw;

  @include tablet-only() {
    width: calc(95vw - 1rem - 6.9vw);
    min-width: auto;
  }

  @include mobile-only {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: hsl(217, 100%, 97%);
    gap: 0;
    border-radius: 0;
  }
}

main {
  position: relative;
  width: 70%;
  height: calc(100% - 45px - 18px);
  padding: 45px 0 0 0;
  @include mobile-only {
    width: 100vw;
    height: 100vh;
    // overflow-y: scroll;
    // z-index: 10;

    padding: 0;
    // background-color: $bg-primary;
  }
}

.hidden {
  display: none;
}

.section {
  @include mobile-only {
    // width: 91.5vw;
    background-color: $bg-primary;
    border-radius: 15px;
    padding: 36px 26px 30px 26px;
    margin: 0 16px;
    margin-top: -40px;
    // margin-bottom: 24px;
    box-shadow: 3px 16px 16px hsl(0, 0%, 58%, 0.2);
  }

  &--thankyou {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .logo-wrapper {
      position: relative;
      height: 80px;
      width: 80px;
      text-align: center;
      margin: auto;

      .logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // stroke: blue;
      }
    }

    @include mobile-only {
      height: 400px;
    }
  }
  &__header {
    display: flex;
    justify-content: center;

    &__title {
      font-size: 1.5rem;
      color: $font-primary;
    }
  }
  &__main {
    font-size: 1rem;
    color: $font-secondary;
  }
}

.transparent {
  visibility: hidden;
}
