.sidebar {
  position: relative;
  overflow: hidden;
  width: 33.25%;
  width: 19vw;
  height: 100%;
  min-width: 274px;
  border-radius: 15px 0 0 15px;
}
.sidebar__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 230px;
  margin-top: 45px;
}
@media all and (max-width: 625px) {
  .sidebar__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0;
    margin-top: 0;
    gap: 16px;
  }
}
.sidebar__content__element {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 34px 1fr;
  grid-template-areas: "index sub" "index text";
  column-gap: 18px;
  margin-left: 34px;
  margin-left: 12.4%;
}
@media all and (max-width: 625px) {
  .sidebar__content__element {
    margin: 0;
    column-gap: 0;
  }
}
.sidebar__content__element__index {
  grid-area: index;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 34px;
  height: 34px;
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(229deg, 24%, 87%);
  border-radius: 100%;
}
.sidebar__content__element__index.selected {
  background-color: hsl(206deg, 94%, 87%);
  color: hsl(213deg, 96%, 18%);
  transition: all 500ms;
}
.sidebar__content__element__sub {
  grid-area: sub;
  color: hsl(231deg, 11%, 63%);
  font-size: 13px;
}
@media all and (max-width: 625px) {
  .sidebar__content__element__sub {
    display: none;
  }
}
.sidebar__content__element__txt {
  grid-area: text;
  margin: 0;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-size: 14px;
}
@media all and (max-width: 625px) {
  .sidebar__content__element__txt {
    display: none;
  }
}
@media all and (max-width: 900px) {
  .sidebar {
    min-width: 215px;
  }
}
@media all and (max-width: 625px) {
  .sidebar {
    width: 100vw;
    height: 170px;
    min-width: auto;
    border-radius: 0;
  }
}

.sidebar__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  z-index: -1;
}
@media all and (max-width: 625px) {
  .sidebar__bg {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
  }
}

.btn {
  position: relative;
  height: 48px;
  width: 120px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  color: hsl(206deg, 94%, 87%);
  background-color: hsl(213deg, 96%, 18%);
}
.btn:hover {
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
}
.btn:hover:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  top: 0;
  left: 0;
  opacity: 0.1;
}
.btn--back {
  padding-left: 0;
  background-color: transparent;
  color: hsl(231deg, 11%, 63%);
  text-align: left;
}
.btn--back:hover {
  color: hsl(213deg, 96%, 18%);
}
.btn--confirm {
  background-color: hsl(243deg, 100%, 62%);
  color: hsl(0deg, 0%, 100%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 119px;
  height: 120px;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 1px hsl(229deg, 24%, 87%);
  border-radius: 15px;
}
@media all and (max-width: 900px) {
  .card {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    height: auto;
    row-gap: 13px;
  }
}
@media all and (max-width: 625px) {
  .card {
    flex-direction: row;
    width: calc(100% - 2rem);
    justify-content: flex-start;
    column-gap: 12px;
    height: auto;
  }
}
.card .card__info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.card__type__title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 11px;
}
.card__type__price {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(231deg, 11%, 63%);
}
.card__type__text {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(231deg, 11%, 63%);
}
.card__promo {
  font-size: 0.8125rem;
  color: hsl(213deg, 96%, 18%);
}
.card .logo-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}
.card .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card__price {
  margin-left: auto;
}
.card__price__content {
  margin: 0;
  font-size: 0.875rem;
  color: hsl(243deg, 100%, 62%);
}
.card:hover {
  cursor: pointer;
  border-color: hsl(243deg, 100%, 62%);
  transition: border-color 300ms;
}
.card--addon {
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 48px);
  height: 36px;
  padding: 24px 22px;
  gap: 25px;
  align-items: center;
}
.card--addon .checkbox {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(229deg, 24%, 87%);
  border-radius: 5px;
}

.check {
  display: none;
}
.check:checked + .card--addon {
  background-color: hsl(217deg, 100%, 97%);
  border-color: hsl(243deg, 100%, 62%);
}
.check:checked + .card--addon .checkbox {
  background-color: hsl(243deg, 100%, 62%);
}

.radio-input {
  display: none;
}
.radio-input:checked + .card {
  background-color: hsl(217deg, 100%, 97%);
  border-color: hsl(243deg, 100%, 62%);
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 32px;
  background-color: hsl(217deg, 100%, 97%);
  border-radius: 15px;
  gap: 25px;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
}
.switch__checkbox:checked + .slider::before {
  transform: translateX(20px);
  transition: transform 300ms;
}

.slider {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: hsl(213deg, 96%, 18%);
}
.slider::before {
  content: "";
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  height: 13px;
  width: 13px;
  top: 3.5px;
  left: 3.5px;
  border-radius: 100%;
  transition: transform 300ms;
}

.toggle-title {
  color: hsl(213deg, 96%, 18%);
  font-size: 0.8125rem;
}
.toggle-title--yearly {
  color: hsl(231deg, 11%, 63%);
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.header__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 22px;
  color: hsl(213deg, 96%, 18%);
}
@media all and (max-width: 625px) {
  .header__title {
    margin-bottom: 1rem;
  }
}
.header__subtitle {
  width: fit-content;
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(231deg, 11%, 63%);
}
@media all and (max-width: 625px) {
  .header {
    margin-bottom: 24px;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 625px) {
  .container {
    flex-direction: column;
  }
}
.container--plan {
  flex-direction: row;
  gap: 13px;
}
@media all and (max-width: 625px) {
  .container--plan {
    flex-direction: column;
    gap: 13px;
  }
}
.container--vertical {
  flex-direction: column;
  row-gap: 16px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 625px) {
  .footer .container {
    flex-direction: row;
    background-color: hsl(0deg, 0%, 100%);
    width: calc(100vw - 52px);
    height: 75px;
    align-items: center;
    padding: 0 26px;
  }
}

.summary-main {
  background-color: hsl(217deg, 100%, 97%);
  border-radius: 15px;
  padding: 20px 23px;
}
.summary-main .container--vertical {
  row-gap: 24px;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__info__title {
  color: hsl(213deg, 96%, 18%);
  font-size: 0.8125rem;
  margin: 0;
}
.plan__info__change {
  color: hsl(231deg, 11%, 63%);
  font-size: 0.8125rem;
}
.plan__price {
  color: hsl(213deg, 96%, 18%);
  font-size: 0.8125rem;
}

.addons {
  border-top: 1px solid hsl(229deg, 24%, 87%);
}
.addons .addon-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: hsl(231deg, 11%, 63%);
  font-size: 0.8125rem;
  list-style-type: none;
  gap: 24px;
}
.addons .addon {
  display: flex;
  justify-content: space-between;
}
.addons .addon__name {
  margin: 0;
}
.addons .addon__price {
  color: hsl(213deg, 96%, 18%);
  font-size: 0.8125rem;
}

.section__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  margin-top: 33px;
}
.section__footer .total-title {
  color: hsl(231deg, 11%, 63%);
  font-size: 0.8125rem;
}
.section__footer .total-price {
  color: hsl(243deg, 100%, 62%);
  font-size: 1.25rem;
  font-weight: 700;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.form .error > .form__element__input {
  border-color: hsl(354deg, 84%, 57%);
}
.form .error > .form__element__input:hover {
  cursor: pointer;
  border-color: hsl(243deg, 100%, 62%);
}
.form__element {
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
}
.form__element__label {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(213deg, 96%, 18%);
}
.form__element__input {
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(231deg, 11%, 63%);
  color: hsl(213deg, 96%, 18%);
  border-radius: 10px;
  border-color: hsl(229deg, 24%, 87%);
  border-width: 1px;
  border-style: solid;
}
.form__element__input::placeholder {
  color: hsl(231deg, 11%, 63%);
}
.form__element__input:hover {
  cursor: pointer;
  border-color: hsl(243deg, 100%, 62%);
}
.form__element__input:focus {
  outline-color: hsl(243deg, 100%, 62%);
}
.form__element__error-message {
  color: hsl(354deg, 84%, 57%);
  font-size: 0.8125rem;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 500;
}

.App {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: calc(65vw - 1rem - 6.9vw);
  min-width: calc(940px - 1rem - 100px);
  height: calc(600px - 2rem);
  margin: auto auto;
  padding: 1rem;
  padding-right: 6.9vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 15px;
  gap: 90px;
  gap: 6.9vw;
}
@media all and (max-width: 900px) {
  .App {
    width: calc(95vw - 1rem - 6.9vw);
    min-width: auto;
  }
}
@media all and (max-width: 625px) {
  .App {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: hsl(217deg, 100%, 97%);
    gap: 0;
    border-radius: 0;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    height: auto;
  }
}

main {
  position: relative;
  width: 70%;
  height: calc(100% - 45px - 18px);
  padding: 45px 0 0 0;
}
@media all and (max-width: 625px) {
  main {
    width: 100vw;
    height: auto;
    min-height: calc(100vh - 18px - 155px);
    padding: 0;
  }
}

.hidden {
  display: none;
}

@media all and (max-width: 625px) {
  .section {
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 15px;
    padding: 36px 26px 30px 26px;
    margin: 0 16px;
    margin-top: -70px;
    box-shadow: 3px 16px 16px hsla(0deg, 0%, 58%, 0.2);
    margin-bottom: 90px;
  }
}
.section--thankyou {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section--thankyou .logo-wrapper {
  position: relative;
  height: 80px;
  width: 80px;
  text-align: center;
  margin: auto;
}
.section--thankyou .logo-wrapper .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media all and (max-width: 625px) {
  .section--thankyou {
    height: 400px;
  }
}
.section__header {
  display: flex;
  justify-content: center;
}
.section__header__title {
  font-size: 1.5rem;
  color: hsl(213deg, 96%, 18%);
}
.section__main {
  font-size: 1rem;
  color: hsl(231deg, 11%, 63%);
}

.transparent {
  visibility: hidden;
}

.btn--change {
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
}
.btn--change:hover {
  color: hsl(213deg, 96%, 18%);
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
