@use "../base/styles" as *;
@use "../utils/breakpoints" as *;

.sidebar {
  position: relative;
  overflow: hidden;
  width: 33.25%;
  width: 19vw;
  height: 100%;
  min-width: 274px;

  border-radius: 15px 0 0 15px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 230px;
    margin-top: 45px;

    @include mobile-only {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 0;
      margin-top: 0;
      gap: 16px;
    }

    &__element {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 34px 1fr;
      grid-template-areas:
        "index sub"
        "index text";
      column-gap: 18px;
      margin-left: 34px;
      margin-left: 12.4%;

      @include mobile-only {
        margin: 0;
        column-gap: 0;
      }

      &__index {
        grid-area: index;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        width: 34px;
        height: 34px;

        color: hsl(0, 0%, 100%);
        border: 1px solid $border-primary;
        border-radius: 100%;

        &.selected {
          background-color: hsl(206, 94%, 87%);
          color: $font-primary;

          // transform: translateY(50px);
          transition: all 500ms;
        }
      }
      &__sub {
        grid-area: sub;
        color: $font-secondary;
        font-size: 13px;

        @include mobile-only {
          display: none;
        }
      }
      &__txt {
        grid-area: text;

        margin: 0;
        color: hsl(0, 0%, 100%);
        text-transform: uppercase;
        font-size: 14px;
        @include mobile-only {
          display: none;
        }
      }
    }
  }

  @include tablet-only() {
    min-width: 215px;
  }

  @include mobile-only {
    width: 100vw;
    height: 170px;
    min-width: auto;
    // margin-left: -50px;
    border-radius: 0;
  }
}

.sidebar__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  z-index: -1;

  @include mobile-only {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
  }
}
