@use "../base/styles" as *;
@use "../utils/breakpoints" as *;

.header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  &__title {
    @include text($main-title-size, 700);
    margin-bottom: 22px;
    color: $font-primary;

    @include mobile-only {
      margin-bottom: 1rem;
    }
  }
  &__subtitle {
    width: fit-content;
    @include main-text;
  }

  @include mobile-only {
    margin-bottom: 24px;
  }
}
